{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container cart-show">
    <h1>Pannier</h1>
    <ul class="list-group">
        {% for item in cart.cartItems %}
            {% for product in item.products %}
                <li class="list-group-item product">
                    <div class="image">
                        <img src="/img/logo-ecom.png" class="card-img-top" alt="...">
                    </div>
                    <div class="detail">
                        <div class="name fw-bold">{{product.name}}</div>
                        <div class="bottom justify-content-between d-flex gap-3">
                            <div class="quantity">Quantité : {{item.quantity}}</div>
                            <div class="price fw-bold">{{product.priceHt}}€</div>
                        </div>
                        
                     </div>
                </li>
            {% endfor %}
            <li class="list-group-item total">
                <div>Total : {{total}}€</div>
                <button href="#" class="btn btn-dark">Valider le pannier</button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
