<header>
    <nav>
        <div>
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('app_admin')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_user_index_admin')}}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_product_index_admin')}}">Produits</a>
                </li>
            </ul>
        </div>
    </nav>
</header>