<footer class="bg-dark text-light text-md-start text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <span class="h4">Plan de site</span>
                <ul class="list-unstyled">
                    <li>Accueil</li>
                    <li>Actualités</li>
                    <li>Produits</li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <span class="h4">Notre entreprise</span>
                <ul class="list-unstyled">
                    <li>Mentions légales</li>
                    <li>Conditions générales de ventes</li>
                    <li>Politique de confidentialité</li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <span class="h4">Nous retrouver</span>
                <ul class="list-unstyled">
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                Blibla blou(c)
            </div>
        </div>
    </div>
</footer>